doctype html
html(ng-app='klmapp' lang='en' dir='ltr')
  head
    title= title
    
    meta(charset='utf-8')
    meta(name='viewport' content="width=device-width, initial-scale=1")
    meta(name="description" content="KLM Chat")
    
    link(rel='icon', href='/img/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.1.3.js')
    script(src='/javascripts/main.js')
    
  body
    block content
