
<h1>Passenger Information</h1>
<p>Conversation ID : {{usrdata.convid}}</p>
<p>Sender ID : {{usrdata.sender}}</p>
<p>Adults_Child_Babies : {{usrdata.passenger}}</p>
<div class="panel-group">
	<div class="panel panel-default" ng-repeat="adult in usrdata.adults">
		<div class="panel-heading" ng-click="on = !on">Passenger {{adult}} (Adult)</div>
			<div class="panel-body" ng-show="on">
			      <form name="pasdtls">
					<div class="form-group">
						<label for="title" class="control-label">Title</label>
						<select id="title" class="form-control" name="ftitle" ng-model="usrdata.title" ng-options="x for x in titledd" required>
							<option value="">Title</option>
						</select>
						<span style="color:red" ng-show="pasdtls.ftitle.$touched && pasdtls.ftitle.$invalid">This is required.</span>
					</div>
					<div class="form-group">
						<label for="f_name" class="control-label">First Name</label>
						<input id="f_name" class="form-control" name="fname" placeholder="First Name" ng-model="usrdata.fname" required>
						<span style="color:red" ng-show="pasdtls.fname.$touched && pasdtls.fname.$invalid">This is required.</span>
					</div>
					<div class="form-group">
						<label for="l_name" class="control-label">Last Name</label>
						<input id="l_name" class="form-control" name="lname" placeholder="Last Name" ng-model="usrdata.lname" required>
						<span style="color:red" ng-show="pasdtls.lname.$touched && pasdtls.lname.$invalid">This is required.</span>
					</div>
					<div class="checkbox form-group">
					  <label class="control-label"><input type="checkbox" ng-click="showffnum = !showffnum" ng-model="usrdata.chkffnum">Are you a member of frequent flyer programme?</label>
					</div>
					<div class="form-group"  ng-show="showffnum">
						<input id="ff_num" class="form-control" name="ffnum" placeholder="Frequent Flyer Number" ng-model="usrdata.ffnum"  ng-required="showffnum">
						<span style="color:red" ng-show="pasdtls.ffnum.$touched && pasdtls.ffnum.$invalid">This is required.</span>
					</div>
					<div class="checkbox form-group">
					  <label class="control-label"><input type="checkbox" ng-click="showfblue = !showfblue" ng-model="usrdata.chkfbluenum">Are you a member of BlueBiz programme?</label>
					</div>
					<div class="form-group" ng-show="showfblue">
						<input id="f_blue" class="form-control" name="fbluenum" placeholder="Flying Blue Number" ng-model="usrdata.fbluenum"  ng-required="showfblue">
						<span style="color:red" ng-show="pasdtls.fbluenum.$touched && pasdtls.fbluenum.$invalid">This is required.</span>
					</div>
			
					<p><h3>Contact Information</h3></p>
					<div class="form-group">
						<label for="u_email" class="control-label">Email Address</label>
						<input id="u_email"  type="email" class="form-control" name="email" placeholder="abc@xyz.com" ng-model="usrdata.email">
						<span style="color:red" ng-show="pasdtls.email.$touched && pasdtls.email.$invalid">This is required.</span>
					</div>
					<div class="form-group">
						<label for="c_email" class="control-label">Confirm Email Address</label>
						<input id="c_email"  type="email" class="form-control" name="cemail" placeholder="abc@xyz.com" ng-model="usrdata.cemail" ng-match="usrdata.email">
						<span style="color:red" ng-show="pasdtls.cemail.$error.match">Emails don't match.</span>
					</div>
			
					<p><h3>Update via Facebook Messenger</h3></p>
					<div class="checkbox">
					  <label class="control-label"><input type="checkbox" ng-model="usrdata.updatefbm" value="">Send flight updates via Messenger</label>
					</div>
					<div class="checkbox">
					  <label class="control-label"><input type="checkbox" ng-model="usrdata.offerfbm" value="">Inform me via Messenger about cool offers and deals</label>
					</div>
			
					<input type="button" id="save_btn" class="btn btn-primary" value="Confirm Passanger {{adult}}" ng-click="save()" ng-disabled="pasdtls.$invalid">
				</form>
			</div>
		</div>
	</div>
</div>



